#headshot{
  margin: 10px auto 15px auto;
}H

#headshot-beschrijving{
  margin: 10px auto 15px auto;
  color:white;
}

#personalia{
  margin:auto;
}

@media only screen and (max-width: 500px) {  
  #body {
    display: grid;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
    font-size:20px;
    margin:auto;
  }
  #introduction{
    margin-bottom:10px;
  }

  #trofeeën_programmeertaal{
    border-bottom: 1px solid black;
  }
  #trofeeën_programmeertaal_detail{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size:12px;  
  }
  
  #trofeeën_framework{    
    border-bottom: 1px solid black;
  }
  #trofeeën_framework_detail{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size:12px;  
  }
  #trofeeën_werkwijze_detail{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size:12px;   
  }
}

@media only screen and (min-width: 500px) {
  #body {
    display: grid;
    margin: 10px auto 10px auto;
    margin-bottom:20px;
    border-bottom: 1px solid black;
  }

  #introduction{
    width:auto;
    margin:auto;
    margin-bottom:10px;
  }

  #trofeeën{
    font-size:20px;
    border-bottom: 1px solid black;
    padding-bottom:10px;
    margin-bottom:10px;
  }

  #trofeeën_programmeertaal{
    padding-right:10px;
  }

  #trofeeën_programmeertaal_detail{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size:12px;  
  }

  #trofeeën_framework{    
    margin-left:10px;
  }

  #trofeeën_framework_detail{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size:12px;  
  }

  #trofeeën_werkwijze{    
    margin-left:10px;
  }

  #trofeeën_werkwijze_detail{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size:12px;   
  }
}

@media only screen and (min-width: 1000px) {
  #body {
    display: grid;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
    font-size:20px;
    width:700px;
    margin:auto;
  }

  #introduction{
    width:580px;
    margin-bottom:10px;
  }

  #trofeeën{
    display:flex;
    justify-content: center;
    font-size:20px;
    margin: auto;
    text-align:center;
    border-bottom: 1px solid black;
    padding-bottom:10px;
    margin-bottom:10px;
  }

  #trofeeën_programmeertaal{
    padding-right:10px;
    border-right:1px solid black;
  }

  #trofeeën_programmeertaal_detail::-webkit-scrollbar {
    display: none;
  }

  #trofeeën_programmeertaal_detail{   
    width:450px;
    display: flex;
    flex-direction: row;
    overflow: scroll;
    font-size:12px;  
  }

  #trofeeën_framework{
    margin-left:10px;
  }

  #trofeeën_framework_detail::-webkit-scrollbar {
    display: none;
  }

  #trofeeën_framework_detail{
    width:450px;
    display: flex;
    flex-direction: row;
    overflow: scroll;
    font-size:12px;  
  }

  #trofeeën_werkwijze{    
    margin-left:10px;
  }

  #trofeeën_werkwijze_detail::-webkit-scrollbar {
    display: none;
  }

  #trofeeën_werkwijze_detail{
    width:450px;
    display: flex;
    flex-direction: row;
    overflow: scroll;
    font-size:12px; 
  }
  #headshot_img{
    width: 300px;
  }
  #voordelen{
    margin: 10px auto 15px auto;
  }
  #nadelen{
    margin: 10px auto 15px auto;
  }
  
  
}

#center{
  margin:auto;
  text-align: center;
}

#alignLeft{
  text-align: left;
}

h3{
  margin-top:10px;
  margin-bottom: 10px;
  text-align: center;
}
h4{
  margin-top:10px;
  margin-bottom: 10px;
  text-align: center;
}
