.Header{
  text-decoration: none;
}

.header-container{
  min-height: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
}

#a:hover{
  /* background-color: black; */
  color: green;
}

#persona{
  margin-right:15px;
}

#projecten{
  margin-right:15px;
}

#cv{
  margin-right:15px;
}

#contact{
  margin-right:15px;
}

#a{
  text-decoration: none;
  color: white;
}