.Header{
  color: black;
  
}

.header-container{
  min-height: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

#Over-mij{
  margin-right:5px;
}

#CV{
  margin-right:5px;
}

#Contact{
  margin-right:5px;
}

#a{
  text-decoration: none;
}