#container{
  padding-right:3vw;
  padding-left:3vw;
}

.App {
  text-align: center;
  
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

  
}


#footer-container {
  width: 94%;
  position: absolute;
  bottom: 0;
  height: 2.5rem;            /* Footer height */
  
  
  
  text-align: center;
}




.header-container{
  text-decoration: none;
  min-height: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
  padding-left: 2vw;
  padding-right: 2vw;
  
}

#a:hover{
  /* background-color: black; */
  color: white;
  /* background-color: white; */
  border-radius: 5px;
}

#personalia{
  text-decoration: none;
  margin-right:15px;
  
}
.koppen{
  text-decoration: none;
  color: grey;
}

.koppen:hover{
   /* background-color: black; */
   color: white;
   /* background-color: white; */
   border-radius: 5px;
}

#projecten{
  text-decoration: none;
  margin-right:15px;
}

#cv{
  text-decoration: none;
  margin-right:15px;
}

#contact{
  text-decoration: none;
  margin-right:15px;
}

#a{
  text-decoration: none;
  color: grey;
}